
@{
    ViewBag.Title = "ControllerToControllerView";
}

<h2>Controller To Controller View</h2>

<h3>
    In  ViewBag.vb = @ViewBag.vb <br />
    In ViewData["vd"] = @ViewData["vd"]<br />
    <br />


    In  ViewBag.vd = @ViewBag.vd <br />
    In ViewData["vb"] = @ViewData["vb"]<br />

    <br />
    In TempData["td"] = @TempData.Peek("td")<br />
</h3>